SET

In [1]:
#Create
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [2]:
#Access
for x in thisset:
  print(x)

apple
banana
cherry

In [3]:
print("banana" in thisset)

True

In [4]:
# Change
thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [5]:
thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'grapes', 'banana', 'mango', 'apple', 'orange'}

In [6]:
# Length
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
# Remove
thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [8]:
thisset.clear()

print(thisset)

set()

In [9]:
# difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'microsoft', 'cherry'}